<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="env" default="tiago-v0" doc="Path to yml file with environment description."/>
    <arg name="model" default="ppo_continue" doc="Path to yml file with model configuration."/>
    <arg name="n_workers" default='1' doc="Path to yml file with model configuration."/>
    <arg name="num_steps" default='100' />

    <rosparam file="$(find elsa_tiago_fl)/config/envs/$(arg env).yaml" command="load"/>
    <rosparam file="$(find tiago_gym)/config/tiago_train_params.yaml" command="load"/>

    <!-- launch trainer 
    <node pkg="elsa_tiago_fl" name="tiago_trainer" type="gym_fl_train.py" output="screen">    
        <param name="model" value="$(arg model)" />
        <param name="env" value="$(arg env)" />
        <param name="n_workers" value="$(arg n_workers)" />
        <param name="num_steps" value="$(arg num_steps)" />
    </node>-->
</launch>
